<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <title>Login</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light navbar-custom fixed-top">
    <a class="navbar-brand" href="viewall.html">
      <img
        class="rounded-circle"
        src="../resources/img/RR.png"
        alt=""
        width="40"
        height="30"
      />
    </a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <a class="nav-link" href="viewall.html">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="property.html">Properties</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="write_review.html">Write a Review</a>
        </li>
      </ul>
      <ul class = "navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" href="register.html">Register</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="login.html">Login</a>
        </li>
      </ul>
    </div>
  </nav>
<body>
    
</body>
</html>
<script>
    
</script>
