
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

 <!--  <link rel="stylesheet" type="text/css" href="../resources/css/profilePage.css">
  <script src="../resourcese/js/login.js"></script> -->
           <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

        <link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

        <link rel="stylesheet" href="../resources/css/property_page.css">

        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

         <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
        </style>

</head>
 <nav class="navbar navbar-expand-lg navbar-light navbar-custom fixed-top">
        <a class="navbar-brand" href="viewall.html">
          <img
            class="rounded-circle"
            src="../resources/img/RR.png"
            alt=""
            width="40"
            height="30"
          />
        </a>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto">
            <li class="nav-item active">
              <a class="nav-link" href="viewall.html">Home</a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="profilePage.html">Profile</a>
          </li>
            <li class="nav-item active">
              <a class="nav-link" href="write_review.html">Write a Review</a>
            </li>
          </ul>
          <ul class = "navbar-nav ms-auto">
            <li class="nav-item active">
              <a class="nav-link" href="register.html">Register</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="login.html">Login</a>
            </li>
          </ul>
        </div>
      </nav>

<body style="background-color:#f5f5f5;">


<br>
<br>
<br>
<br>
<br>

<div class="container">
  <div class="text-center">
      <h1 class="mt-0" style="color:#483D3F; font-family: 'Bebas Neue', cursive; font-size:45pt;">Profile</h1>

      <img class="profilePicture" src="../resources/img/chip.jpeg" alt="profile picture" width="150" height="150" style="border-radius: 50%;">
  </div>



  <div class="text-center">
    <button type = "button" style="background-color: #483D3F; border-radius: 8px;border-color: #483D3F; padding: 10px; margin: 10px;" onClick="parent.location='https://www.w3schools.com/howto/howto_css_rounded_images.asp'"><p style="color:#f5f5f5; font-family: 'Bebas Neue', cursive;font-family: 'Roboto', sans-serif; font-weight: 400;">Edit Profile Picture</p></button>
  </div>



  <div class="text-center">
    <h3 style="color: #50514F; font-family: 'Bebas Neue', cursive; display:inline-block; font-weight: 400;"> Hello </h3>
    <h3 style="color: #659DBD; font-family: 'Bebas Neue', cursive; display:inline-block; font-weight: 400;"> Username </h3>
</div>


 
<div class="card" style="display:inline-block; width: 550px; background-color: #f5f5f5;">
    <img src="../resources/img/house1.jpg" alt="Avatar" style="width: 200px; height: 200px;">
      <h3 style="display:inline-block; color: #50514F; font-family: 'Bebas Neue', cursive;">Property Management Company 
          <br>
        Address
          <br>
        Monthly Rent
          <br>
        Rating
    </h3>

</div>
<br>
<br>


<div class="card" style="display:inline-block; width: 550px; background-color: #f5f5f5;">
    <img src="../resources/img/house1.jpg" alt="Avatar" style="width: 200px; height: 200px;">
      <h3 style="display:inline-block; color: #50514F; font-family: 'Bebas Neue', cursive;">
        Property Management Company 
          <br>
        Address
          <br>
        Monthly Rent
          <br>
        Rating
    </h3>
</div>

<footer>

  <div class="text-right">
    <button type = "button" style="background-color: #483D3F;border-radius: 8px; padding: 10px;" onClick="parent.location='viewall.html'"><p style="color:#f5f5f5; font-family: 'Bebas Neue', cursive;font-family: 'Roboto', sans-serif; font-weight: 400;">Find A Property</p></button>
  </div>
</footer>

 
</body>

</html>