
.login-form-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-custom {
    background-color: #659DBD;
}

.invalid {
    border-color: red;
}

.feedback {
    margin-bottom: 0.3rem;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    font-size: medium;
    padding: 0.6rem 0.7rem;
    border: none;
    border-radius: 0.2rem;
}

button:hover {
    cursor: pointer;
}

input {
    padding: 0.6rem;
    font-size: medium;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
}

h1{
    font-family: 'Bebas Neue', cursive;
    color: #483d3f;
    font-size: 45pt;
}

h3{
    font-family: 'Roboto', sans-serif;
    color: #50514f;
    font-size: 20pt;
}

h4{
    font-family: 'Roboto', sans-serif;
    color: #50514f;
    font-size: 16pt;
}
a{
    font-family: 'Roboto', sans-serif;
    color: #659DBD;
    font-size: 14pt;
    font-weight: 400;
}
 

h5{
    font-family: 'Bebas Neue', cursive;
    color: #483d3f;
    font-size: 20pt;
}

h2{
    font-family: 'Roboto', sans-serif;
    color: #50514f;
    font-size: 30pt;
    font-weight: 400;
}

